.f-clock-widget{
  background-color:rgba(0,0,0,0.8);
  border-radius:1.5rem;
}

.f-battery{
  background-color: rgba(232,232,232,0.8);
  border-radius:1.5rem;
}






/*----------中间的组件列----------*/
/*----------中间的组件列----------*/
.f-desk-center{
}

/*----------日期组件----------*/
.f-date-widget{
  background-color:#fff;
}
